*{
    margin:0;
    padding:0;
    font-size: 20px;
    
    /*background-color: rgb(245,252,247);*/
}
body{
    background-color: rgb(51,7,9);
}
header{
    background-color:rgb(255,255,250);
}
.container{
    display:none;
}
aside{
    display:none;
}
ul{
    display: flex;
    justify-content: flex-start;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: purple;
}
li{
    list-style:none;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom:5% ;
}
#img2{
    width: 10rem;
    border-color: black;
    border-radius: 50%;
    padding-right: 140px;
}

#t1{
    background-color: rgb(245,252,247);
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    place-items: center;
    width: 750px;
}
.foto{
    background-color: rgb(87, 87, 87);
    margin-top:20%;
    margin-left: 20%;
    margin-right: 20%;

    width: 750px;
}
.img1{
    /*padding:15%;*/
    width: 10rem;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-bottom: 10px;
}

.players{
    text-align: center;
    /*background-color: rgb(255,225,247);*/
    display: flex;
    justify-content: space-between;
}
audio{
    border-radius: -10%;
    display: grid;
    place-items: center;
    background-color: aqua;
}
.color{
    background-color: rgb(245,252,247);
    color:rgb(51,7,9);
    padding-left:35%;
    display: none;
}
section{
    margin: 50px;
    background-color: black;
}
.p{
    background-color: blue;
    width: 70px;
    display: none;
}
footer{
    margin-top:1vh;
    height:13.34vh;
    width:100vw;
    background-color:rgb(45,45,176);
}

.paragrafo{
    text-align:center;
    position: end;
}
@media only screen and (max-width: 900px) {
    *{
        margin:0;
        padding:0;
        list-style:none;
        text-decoration:none;

    }

    body {
      background-color: rgb(51,7,9);
      width:100%;
      height:100%;
      overflow:hidden;
    }
    .asidebar{
        background-color:rgb(245,239,240);  
        display:flex;
    }
    header{
        display:none;
    }
    .menui{
        display:flex;
        justify-content:center;
        align-items:center;
        width:100vw;
        /*margin-left:30px;*/
    }
    .menu{
    display:flex;
    /*margin-left:30px;*/
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    }
    .menu-item{
        text-align:center;
        width:144px;
    }
    .menu-item:hover{
        background-color:rgb(20,40,197);
        width:144px;
        border:solid 1px white; 
        box-sizing:border-box;
        text-align:center;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .almost{
        margin-top:5%;
    }
   .foto{
       width:100vw;
       margin:0;
   }
   .img1{
    /*padding:15%;*/
    width: 5rem;
    display: flex;
    /*justify-content: center;
    align-items:center;*/
    /*margin-left: 15%;
    margin-bottom: 10px;*/
}
#t1{
    margin: 0px;
    background-color: black;
    width:100vw;
}
footer{
    margin-top:1vh;
    height:115.34vh;
    width:100vw;
    background-color:rgb(45,45,176);
}
   /* li{
        list-style:none;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom:5% ;
    }
    #img2{
        width: 10rem;
        border-color: black;
        border-radius: 50%;
        padding-right: 140px;
    }*/
  }
  
